button {
  margin-right: 10px;
}

.container img {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  margin-left: 10px;
}

.container {
  clear: both;
  margin-top: 20px;
}

img {
  vertical-align: top;
}
